@tailwind base;
@tailwind components;
@tailwind utilities;
.custom_class {
    color: red;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: x-large;
}

p {
    font-family: 'Montserrat', sans-serif;
}


/* .custom_btn {
    @apply border-2 cursor-pointer border-[#F89818] flex justify-between text-base font-bold text-orange-400 px-4 py-3 rounded-xl m-2
} */